@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The SCC Bakery is a home town proud bakery. Our baked goods are made from scratch every day and can 
    be picked up at our store. We also offer a local delivery to the local community or you can have your 
    baked goods delivered via overnight express. Our store is located in the beautiful Southeast Community 
    College campus on the East side of Lincoln, Ne.
</p>