@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Southeast Community College<br />
    8800 O Street
    Lincoln, NE 68520-1299<br />
    <abbr title="Phone">P:</abbr>
    402-471-BAKE
</address>

<address>
    <strong>Email us at:</strong>   <a href="mailto:Baker@SCCBakery.com">Baker@SCCBakery.com</a><br />
</address>