@model IEnumerable<SCCBakery.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the SCC Bakery</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Our Mission</h2>
        <p>
            Here at SCC Bakery, we stride to make the best baked good in the area; making them fresh and deliver 
            them fast. We offer a complete money back guarantee; if it's not fresh, it's free.
        </p>

        <h2>Browse our Top products</h2>

<table class="table">
    @*@{int counter = 0}*@
    @foreach (var item in Model)
    {
        <div class="productDisplay">
            <h3>@Html.DisplayFor(modelItem => item.ProductName)</h3> <h4>$@Html.DisplayFor(modelItem => item.ProductPrice)</h4>
            <br />
            <img src="@Url.Content("~/Images/ProductImages/" + item.ImagePath)" height="100" width="100" />
            <br />
            <p>@Html.ActionLink("Details", "../ProductsView/Details", new { id = item.ProductID })</p>
            <p>@Html.ActionLink("Add to Cart", "../Carts/Index", new { id = item.ProductID })</p>
        </div>
    
    }
</table>
