@model SCCBakery.Models.Cart

@{
    ViewBag.Title = "View";
}

<h2>Your Cart</h2>


<div class="container">
    <h1>My Store</h1>

    <div class="products">
        
    </div>


    <a href="">View Cart</a>

</div>